
        <div id="map"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-4">
            <div class="colorDeliveryFree"></div> 
            <h5>Rango gratuito</h5>
        </div>   
        <!-- <div class="col-sm-3">
                <div class="colorDeliveryFree"></div> 
                <h5>Rango de entrega +20</h5>
        </div>      -->
    </div>
</div>
   
   
<div class="container-fluid">
   <div class="row">
       <div class="col-sm-3 contact-info text-center">
         <p>info@cambur-pinton.com</p>
         <div class="socialMedia">
                <a href="https://www.facebook.com/camburpintonBA" class="social-btn fa fa-facebook-square fa-2x"></a> 
        <!-- </div> -->
        <!-- <div class="col-sm-5"> -->
          <a href="https://www.instagram.com/camburpintonba" class="social-btn fa fa-instagram fa-2x"></a> 
  

        <a target="_blank" href="https://www.tripadvisor.com.ar/Restaurant_Review-g312741-d13226143-Reviews-Cambur_Pinton-Buenos_Aires_Capital_Federal_District.html"><img src="https://www.tripadvisor.com.ar/img/cdsi/img2/branding/socialWidget/20x28_white-21690-2.png"/></a>
        </div>
       </div>
       <div class="col-sm-5 contact-info text-center">
        <p>Amenabar 926, CABA</p>
        <p>+54 11 47865620</p>
        <p>+54 11 20045538</p>
       </div>
       <div class="col-sm-3 col-sm-offset-1">
            <form ng-submit="registrarConsulta()" role="form">
                <div class="form-group col-sm-12">
                    <label for="inputEmail" class="label">Email</label>
                    <input type="email" class="form-control" ng-model='mailForm' placeholder="example@email" required>
                </div>
        
                <div class="form-group col-sm-12">
                            <label for="comment " class="label">Mensaje</label>
                            <textarea class="form-control" rows="4  " ng-model='comment' placeholder="Comentario* "></textarea>
                            <div class="help-block with-errors ">170 Max</div>
                        </div>
                        <button type="submit" class="btn btn-default col-md-2 col-sm-4 col-xs-4">ok</button>
            </form></div>
         </div>
    </div>
</div> 

        <!-- <iframe class="col-md-4 col-sm-8 col-xs-8 visible-md visible-lg" src="https://www.youtube.com/embed/ij0dtkIaYRY" width="360" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> -->
        <!-- <iframe  class="col-md-4 col-sm-8 col-xs-8 visible-md visible-lg" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FcamburpintonBA%2Fvideos%2F1316030978508003%2F&show_text=0" width="465" height="465" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        <div class="contactForm col-md-8 col-sm-12">
            <form ng-submit="registrarConsulta()" role="form ">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="inputName " class="control-label ">Nombre</label>
                        <input type="text" class="form-control " ng-model='nombreForm' pattern="([A-z-ñ\s]){1,}$" maxlength="25 " placeholder="Nombre* " required>
                        <div class="help-block with-errors ">A-z</div>
                    </div>
                    <div class="form-group">
                        <label for="inputName " class="control-label ">Apellido</label>
                        <input type="text " class="form-control " ng-model='apellidoForm' pattern="([A-z-ñ\s]){1,}$" maxlength="25 " placeholder="Apellido* " required>
                        <div class="help-block with-errors ">A-z</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4  col-xs-12">
                    <div class="form-group ">
                        <label for="inputPhone " class="control-label ">Telefono</label>
                        <input type="text " class="form-control " ng-model='telForm' pattern="^[0-9]{1,}" maxlength="18 " placeholder="telefono* " required>
                        <div class="help-block with-errors ">(011) 5555-5555</div>
                    </div>
                    <div class="form-group ">
                        <label for="inputEmail " class="control-label ">Email</label>
                        <input type="email" class="form-control " ng-model='mailForm' placeholder="Email" required>
                        <div class="help-block with-errors ">example@mail.com</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4  col-xs-12">
                    <div class="form-group ">
                        <label for="comment " class="control-label ">Mensaje</label>
                        <textarea class="form-control " rows="6 " ng-model='comment' placeholder="Comentario* "></textarea>
                        <div class="help-block with-errors ">170 Max</div>
                    </div>
                </div>
                <button type="submit " class="btn btn-default btn-lg col-md-2 col-sm-4 col-xs-4">Enviar</button>
                <div class="col-md-10 fb-like" data-href="https://web.facebook.com/camburpintonBA" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-width="200" data-share="true"></div>
            </form>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <hr>
            <br>
            <ul class="list-inline banner-social-buttons ">
                <li>
                    <a href="https://www.facebook.com/camburpintonBA " target="_blank" class="btn btn-default btn-lg "><i class="fa fa-facebook fa-fw "></i> <span class="network-name ">Facebook</span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/camburpintonba " target="_blank" class="btn btn-default btn-lg "><i class="fa fa-instagram fa-fw "></i> <span class="network-name ">Instagram</span></a>
                </li>
                <li>
                    <h3 class="btn btn-default btn-lg ">Telefono: 11 2004-5538</h3>
                </li>
            </ul>
        </div>
    </div>
</div> -->
