<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
    <h3 class="modal-title" id="myModalLabel">Tu solicitud ha sido procesada!</h3>
    <p class="warning">Te estaremos contactando</p>
</div>
<div class="modal-body" id="pedidoEnviado">
    <img src="img/promo.jpg" alt="" class="imgPromo"> 
    <hr>
   <h4> No te pierdas de nuestras promociones. <a href="https://www.facebook.com/camburpintonBA/" class="style-P">Visitanos!</a></h4>   
</div>

<div class="modal-footer">
      <button type="button" class="btn btn-default" style="border:1px solid white;" data-dismiss="modal">Cerrar</button>
</div>