<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
    <h3 class="modal-title" id="myModalLabel">Lo Sentimos!</h3>
</div>
<div class="modal-body col-md-12">
    <div class="col-md-12">
        <p>En estos momento nos encontramos fuera de servicio. Nuestros horarios de atención son:</p>
        <p> <span style="color:#f39200">- Miércoles y Jueves de 18:00 a 23:30</span></p>
        <p> <span style="color:#f39200">- Viernes y Sábados de 18:00 a 00:00.</span></p>
        <p>Cualquier duda o consulta puedes escribirnos a <span style="color:#f39200">pedidos@cambur-pinton.com</span>, te responderemos a la brevedad.</p>
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 visible-sm visible-md visible-lg">
        <img class="img-responsive" src="img/ImagotipoBlanco.png" alt="">
    </div>
</div>
<div class="modal-footer col-md-12">
    <a href="#menu " class="btn btn-default pull-left " style="border:1px solid white; " ng-if="totalCompra()>= 0">Menu</a>
</div>