<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
    <h3 class="modal-title" id="myModalLabel">Tu solicitud ha sido procesada!</h3>
</div>
<div class="modal-body" id="pedidoEnviado">
    <p>Te estaremos contactando para confirmar tu pedido</p>
    <img class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8" src="img/ImagotipoBlanco.png" alt="">
    <div>
        <table class="table table-responsive table-hover table-condensed table-bordered " ng-if="totalCantidad() > 0">
            <thead>
                <th class="text-center">Producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Total</th>
            </thead>
            <tbody>
                <tr ng-repeat="producto in suPedidoArepas()" ng-if="producto.cantidadTrigo > 0">
                    <td>
                        <img class="pull-left" src="img/icon/trigoMaiz/btnTrigoNegro.png" alt="IconoTrigo"> Arepa de {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.cantidadTrigo}}
                    </td>
                    <td>
                        {{producto.precio}}
                    </td>
                    <td>
                        {{producto.cantidadTrigo * producto.precio | currency}}
                    </td>
                </tr>
                <tr ng-repeat="producto in suPedidoArepas()" ng-if="producto.cantidadMaiz > 0">
                    <td>
                        <img class="pull-left" src="img/icon/trigoMaiz/btnMaizNegro.png" alt="IconoMaiz"> Arepa de {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.cantidadMaiz}}
                    </td>
                    <td>
                        {{producto.precio}}
                    </td>
                    <td>
                        {{producto.cantidadMaiz * producto.precio | currency}}
                    </td>
                </tr>
                <tr ng-repeat="producto in suPedidoTequenos()">
                    <td>
                        {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.cantidad}}
                    </td>

                    <td>
                        {{producto.precio | currency}}
                    </td>
                    <td>
                        {{producto.precio * producto.cantidad | currency}}
                    </td>
                </tr>
                <tr ng-repeat="producto in suPedidoEmpanadas()">
                    <td>
                        {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.cantidad}}
                    </td>

                    <td>
                        {{producto.precio | currency}}
                    </td>
                    <td>
                        {{producto.precio * producto.cantidad | currency}}
                    </td>
                </tr>
                <tr ng-repeat="producto in suPedidoSalsas()">
                    <td>
                        Salsa {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.cantidad}}
                    </td>

                    <td>
                        {{producto.precio | currency}}
                    </td>
                    <td>
                        {{producto.precio * producto.cantidad | currency}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>